/* Move your styles here when you're ready to clean up your HTML file */
/* Don't forget to link to this file in your HTML, otherwise your styles won't show up! */


body {
  font-size: 20px;
}

h1 {
  font-family: sans-serif;
  background-color: orange;
  color: red;
}

h2 {
  font-family: cursive;
  color: blue;
}

header {
  border-bottom: 2px solid blue;
}

.class-list {
  list-style-type: square;
}

.item {
  border: dashed;
}

.even {
  background-color: grey;
}

.odd {
  background-color: black;
  color: white;
}

#item1 {
  font-size: 30px
}

#item2 {
  text-align: right;
}

#advanced-selectors ol > li {
  padding: 20px;
  background-color: gray;
  margin-bottom: 5px;
}

#advanced-selectors ol > li:nth-child(odd) {
  background-color: green;
}

a[title="Bitmaker"]:hover {
  text-decoration: none;
}

#advanced-selectors ul li a:hover {
  background-color: yellow;
}

#advanced-selectors ul li a:active {
  background-color: red;
}
